.sec1 {
    height: 1231px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec1-head {
    height: 258px;
    padding: 0px 12px;
    margin: 0px 104.5px;
    display: flex;
    flex-direction: column;
}
.sec1-head-top {
    height: 133px;
    padding: 0 12px;
    text-align: center;
}
.sec1-head-top h2 {
    color: #18304B;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    font-family: "Overpass", sans-serif;
    margin-top: 0;
    margin-bottom: 12px;
}
.sec1-head-top span {
    color: #007AFF;
    font-size: 16px;
    font-weight: 400;
    font-family: "chivo", sans-serif;
    text-transform: capitalize;
}
.sec1-head-bottom {
    flex: 1;
    padding: 0 12px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(164,172,169,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.sec1-head-bottom div {
    color: #B6B9BC;
    font-size: 18px;
    font-weight: 700;
    font-family: "chivo", sans-serif;
    margin-left: 33px;
    padding-top: 0;
    padding-bottom: 17px;
    padding-left: 5px;
    padding-right: 5px;
    transition: border-bottom 0.15s;
    cursor: pointer;
}
.sec1-head-bottom div:hover {
    border-bottom: 4px solid #007AFF;
}


.sec1-main {
    height: 674px;
    margin: 0 104.5px;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1-main-box {
    width: 356px;
    height: 306px;  
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    border: 1px solid transparent;
    border-radius: 5px; 
    padding: 30px 20px 25px 20px;
    box-sizing: border-box;
    transition: border 0.15s;
}
.sec1-main-box:hover {
    border: 1px solid rgb(0, 122, 255);
}


.sec1-main-box1-first {
    color: #F27E42;
    background-color: rgba(242,126,66,0.26);
    font-size: 16px;
    font-weight: 400;
    border-radius: 26px;
    font-family: "chivo", sans-serif;
    padding: 6px 20px;
    margin-bottom: 40px;
    display: inline-block;
}
.sec1-main-box1-second {
    font-family: "Overpass", sans-serif;
    color: #071112;
    font-weight: 600;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 8px;
    line-height: 28.8px;
    display: block;
    cursor: pointer;
}
.sec1-main-box1-second:hover {
    color: rgb(0, 122, 255);
    cursor: pointer;
}
.sec1-main-box1-third {
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.sec1-main-box1-third img {
    margin-right: 10px;
}
.sec1-main-box1-third div {
    color: #76787A;
    font-size: 14px;
    font-weight: 400;
    font-family: "chivo", sans-serif;
    margin-right: 20px;
}
.sec1-main-box1-fourth {
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sec1-main-box1-fourth div {
    display: flex;
    flex-direction: row;
}
.sec1-main-box1-fourth div img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    border-radius: 50%;
}
.sec1-main-box1-fourth div p {
    font-size: 16px;
    font-weight: 600;
    color: #18304B;
    font-family: "chivo", sans-serif;
    margin-left: 9px;
}
.sec1-main-box1-fourth span {
    color: #B6B9BC;
    font-size: 16px;
    font-weight: 400;
    font-family: "chivo", sans-serif;
}
.sec1-main-box2-first {
    color: #4294F2;
    background-color: rgba(66, 148, 255, 0.26);
    font-size: 16px;
    font-weight: 400;
    border-radius: 26px;
    font-family: "chivo", sans-serif;
    padding: 6px 20px;
    margin-bottom: 40px;
    display: inline-block;
}
.sec1-main-box3-first {
    color: rgb(46, 185, 141);
    background-color: rgba(46, 185, 141, 0.03);
    font-size: 16px;
    font-weight: 400;
    border-radius: 26px;
    font-family: "chivo", sans-serif;
    padding: 6px 20px;
    margin-bottom: 40px;
    display: inline-block;
}
.sec1-main-box4-first {
    color: rgb(106, 66, 242);
    background-color: rgba(106, 66, 242, 0.07);
    font-size: 16px;
    font-weight: 400;
    border-radius: 26px;
    font-family: "chivo", sans-serif;
    padding: 6px 20px;
    margin-bottom: 40px;
    display: inline-block;
}
.sec1-main-box5-first {
    color: rgb(241, 98, 188);
    background-color: rgba(241, 98, 188, 0.07);
    font-size: 16px;
    font-weight: 400;
    border-radius: 26px;
    font-family: "chivo", sans-serif;
    padding: 6px 20px;
    margin-bottom: 40px;
    display: inline-block;
}
.sec1-main-box6-first {
    color: rgb(66, 148, 242);
    background-color: rgba(66, 148, 255, 0.26);
    font-size: 16px;
    font-weight: 400;
    border-radius: 26px;
    font-family: "chivo", sans-serif;
    padding: 6px 20px;
    margin-bottom: 40px;
    display: inline-block;
}

.sec1-footer {
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}
.sec1-footer a {
    background-color: #007AFF;
    font-family: "chivo", sans-serif;
    padding: 26px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.15s;
}
.sec1-footer a:hover {
    background-color: #0c66c7;
}