.sec2 {
    height: 655px;
    width: 100%;
    background-color: #F6F9FC;
    padding-top: 120px;
    padding-bottom: 229px;
}
.sec2-main {
    height: 760px;
    width: 1140px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    /* z-index: 0; */
}
.sec2-main-left {
    width: 50%;
}
.sec2-main-left img {
    width: 501px;
    height: 760px;
}
.sec2-main-right {
    width: 50%;
    height: 760px;
    display: flex;
    flex-direction: column;
}
.sec2-main-right-up {
    height: 188px;
    width: 403.5px;
    margin-top: 120px;
    margin-bottom: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.sec2-main-right-up h2 {
    color: #18304B;
    font-size: 40px;
    font-weight: 700;
    font-family: "Overpass", sans-serif;
    margin-top: 0;
    margin-bottom: 12px;
    letter-spacing: -.04em;
    line-height: 1.3;
    text-align: left;
}
.sec2-main-right-up p {
    color: #6D6D6D;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "chivo", sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: left;
}
.sec2-main-right-btm {
    height: 278px;
    width: 807px;
    position: absolute;
    right: 0;
    bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.sec2-main-right-btm div {
    height: 100%;
    width: 245px;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: #4C5753;
    font-size: 18px;
    font-weight: 500;
    font-family: "chivo", sans-serif;
    line-height: 1.6;
}
