.sec4 {
    height: 483px;
    width: 100%;
    background-color: #F6F9FC;
    padding-top: 110px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sec4-main {
    background-color: #f6f9fc;
    height: 483px;
    width: 1140px;
    display: flex;
    flex-direction: row;
}
.sec4-main-left {
    width: 475px;
    height: 100%;
    padding: 0 12px;
}
.sec4-main-left-head {
    height: 112px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 0;
}
.sec4-main-left-head h2 {
    color: #18304B;
    font-size: 40px;
    font-weight: 700;
    font-family: "overpass", sans-serif;
    line-height: 1.3;
    letter-spacing: -.04em;
    margin-bottom: 12px;
    margin-top: 0;
}
.sec4-main-left-head p {
    color: #6D6D6D;
    font-size: 16px;
    font-weight: 400;
    font-family: "chivo", sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 0;
}
.sec4-main-left-cnt {
    height: 77px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec4-main-left-cnt p {
    padding-left: 26px;
    color: #76787A;
    font-size: 18px;
    font-weight: 400;
    font-family: "chivo", sans-serif;
    line-height: 1.6;
}

.sec4-main-right {
    height: 100%;
    width: 451px;
    margin-left: 50px;
    padding: 0 12px;
}
.sec4-main-right img {
    width: 100%;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    margin-top: 20px;
}