.sec5 {
    height: 551px;
    width: 100%;
    padding: 100px 0;
    border-top: 1px solid #f0f0ef;
    border-bottom: 1px solid #f0f0ef;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec5-cnt {
    height: 269px;
    width: 760px;
    text-align: center;
}
.sec5-cnt h3 {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 24px;
    font-family: "overpass", sans-serif;
    color: #18304B;
    margin-top: 0;
}
.sec5-cnt p {
    color: #76787A;
    font-size: 16px;
    padding-bottom: 27px;
    font-family: "chivo", sans-serif;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.6;
    margin-top: 0;
}
.sec5-box {
    width: 641px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.sec5-box input {
    background-color: #F6F9FC;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 15px 24px 15px 67px;
    font-size: 16px;
    font-family: "chivo", sans-serif;
    line-height: inherit;
    border: none;
}
.sec5-box div {
    position: absolute;
    color: #B6B9BC;
    font-size: 35px;
    font-weight: 400;
    left: 22px;
    top: 23px;
    font-family: "overpass", sans-serif;
}
.sec5-box button {
    position: absolute;
    background-color: #007AFF;
    height: 62px;
    width: 149px;
    border-radius: 5px;
    padding: 16px 26px;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: "chivo", sans-serif;
    right: 10px;
    top: 9px;
    border: none;
    cursor: pointer;
}




.sec6 {
    height: 135px;
    width: 100%;
    background-color: #007AFF;
    box-sizing: border-box;
    padding: 0 116.5px;
}
.sec6-main {
    width: 1116px;
    height: 63px;
    padding-top: 44px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}
.sec6-main-cnt {
    width: 760px;
    height: 51px;
}
.sec6-main-cnt h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: "overpass", sans-serif;
    margin-top: 0;
}
.sec6-main-btn {
    width: 285px;
    height: 63px;
    box-sizing: border-box;
}
.sec6-main-btn a {
    font-family: "overpass", sans-serif;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 45px;
    box-sizing: border-box;
    float: right;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}
.sec6-main-btn a:hover {
    color: #007AFF;
    background-color: #fff;
}
